.order-card {
  margin: auto;
  margin-top: 3rem;
  border: #2e3a5b 1px solid;
  border-radius: 1.5rem;
  height: 25rem;
  width: 45rem;
}
.nav {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  width: 100%;
  color: yellow;
  height: 5rem;
  background-color: #2e3a5b;
  text-align: start;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  font-size: 2.5rem;
}
.forma {
  display: flex;
}
