.korpa {
  font-size: 3.5rem;
  font-family: "Anton", sans-serif;
  color: #2e5b36;
  margin: 10px;
  text-align: center;
  border-bottom: 1px solid green;
  justify-self: center;
}

.cartCardsContainer {
  display: flex;
  justify-content: center;
  gap: 30rem;
}
.korpa-k {
  font-family: "Anton", sans-serif;
  background-color: #2e3a5b;
  font-weight: 400;
  margin: 10px;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 30px;
  color: yellow;
  padding-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.buy {
  font-weight: bold;
  padding: auto;
  border: solid 2px #2e3a5b;
  border-radius: 2rem;
  margin-bottom: 2rem;
  height: 2rem;
  width: 20rem;
  margin: auto;
  background-color: yellow;
  color: #2e3a5b;
}

.buy:hover {
  cursor: pointer;
  transition: transform 0.3s ease-out;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.buy {
  animation: fade-in 0.3s ease-out;
}
