.navbar {
  height: 15vh;
  background-color: #2e3a5b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  width: 18%;
  display: flex;
  justify-content: space-around;
}

.logo {
  margin-left: 1.5rem;
  width: 105px;
  height: 100%;
  padding: 10px;
}

.activeStyles {
  padding: 8px;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 12px;
  color: #2e3a5b;
}

.classicStyles {
  padding: 8px;
  text-decoration: none;
  border-radius: 15px;
  color: yellow;
}
.cart {
  position: relative;
  display: flex;
}

.cart-lenght {
  height: 20px;
  width: 15px;
  border-radius: 50%;
  color: black;
  font-weight: bolder;
  background-color: yellow;
}
